.about-page h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #91191e;
  margin-bottom: 4rem;
}

.about-page-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: auto;
}

.flex-container-1 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 2rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
