.contact-page-section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* Background image */
  background-image: url("/images/san-salvador-night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-page-section1 .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45); /* adjust opacity */
  z-index: 1;
}

.contact-page-section1 .content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #f1f5f9;
  max-width: 800px;
  padding: 2rem;
}

.contact-page-section1 h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.contact-page-section1 p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.contact-page-section2 {
  background-color: #91191e;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*  Mobile responsiveness*/

@media (max-width: 768px) {
  .contact-page-section1 {
    margin-top: 4rem;
  }

  .contact-page-section1 h1 {
    font-size: 2rem;
  }

  .contact-page-section1 p {
    font-size: 1rem;
  }
}
