/* Service Page styles ONLY */

.service-page-container {
  box-sizing: border-box;
  background-color: #91191e;
  overflow-x: hidden;
}

.service-page-container h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0;
  gap: 3rem;
  width: 100%;
}

/* mobile  */

@media (max-width: 768px) {
  .flex-container {
    padding: 1rem;
  }
}
