.service-page-container {
  box-sizing: border-box;
  background-color: #91191e;
}

h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 3rem;
  height: auto;
  width: 100%;
}

.card-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  height: 275px;
  gap: 1rem;
  background-color: #d9d9d9;
  padding: 1rem;
  margin: 1rem auto;
}

.card-flex-container img {
  flex-shrink: 0;
  width: 225px;
  height: 160px;
  object-fit: cover;
}

.card-service-text-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #d9d9d9;
}

.card-service-text-c h3 {
  background-color: #d9d9d9;
  color: #000000;
  text-align: left;
  padding: 0;
  margin: 0;
}
.card-service-text-c p {
  background-color: #d9d9d9;
  color: #000000;
  text-align: left;
  font-size: 16px;
  margin-bottom: 25px;
}

.card-service-text-c a {
  background-color: #d9d9d9;
}

/* responsive design */

@media (max-width: 600px) {
  .card-flex-container {
    flex-direction: column;
    align-items: center;
  }

  .card-flex-container img {
    max-width: 100%;
  }

  .card-service-text-c {
    text-align: center;
  }
}
