/* Reusable ServiceCard styles, this way we keep it portable in case we need it in another page */

.card-flex-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  height: 275px;
  gap: 1rem;
  background-color: #d9d9d9;
  padding: 1rem;
  margin: 1rem auto;
}

.card-flex-container img {
  width: 100%;
  max-width: 225px;
  height: auto;
  object-fit: cover;
}

.card-service-text-c {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
  background-color: #d9d9d9;
}

.card-service-text-c h3 {
  color: #000000;
  text-align: left;
  margin: 0;
}

.card-service-text-c p {
  color: #000000;
  font-size: 16px;
  margin-bottom: 25px;
}

.card-service-text-c a {
  color: inherit;
  text-decoration: none;
}

/* responsive card behavior */
@media (max-width: 600px) {
  .card-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin: 1rem 0;
  }

  .card-service-text-c {
    max-width: 100%;
    text-align: center;
  }

  .card-service-text-c h3 {
    text-align: center;
  }
}
