body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
